<h1>Detail Shop</h1>

<h1>products info:</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <td>{{ object.title }}</td>
  </tr>
  <tr>
    <th>Cover images</th>
    <td>
      {% for image in object.productimage_set.all %}
        <img src="{{ image.thumbnail.url }}" alt="cover"/>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>Price</th>
    <td>{{ object.price }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{ object.description|linebreaks }}</td>
  </tr>
  <tr>
    <th>Tags</th>
     <td>{{ object.tags.all|join:","|default:"No tag" }}</td>
  </tr>
	<tr>
		<th>Categories</th>
		 <td>{{ object.categories.all|join:","|default:"No category" }}</td>
	</tr>
	<tr>
		<th>Colors</th>
		 <td>{{ object.colors.all|join:","|default:"No color" }}</td>
	</tr>
  <tr>
    <th>In stock</th>
    <td>{{ object.in_stock|yesno|capfirst }}</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td>{{ object.date_updated|date:"F Y" }}</td>
  </tr>
	 <tr>
	    <th>Comments</th>
	    <td>
	    	{% for comment in comments %}
						<hr>
						<p>Name & Family: {{comment.commentor}}</p>
						<p>Text: {{ comment.text|safe }}</p>
						<button>Reply</button>
				{% endfor %}
				<hr>
	    </td>
	  </tr>
</table>
<br>
 <a href="{% url "add_to_basket" %}?product_id={{ object.id }}">
Add to basket</a>
