{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset ="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<title>goodies</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./burger-login-mobile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	<div class="all">
	<img src="./goodies-bg.png" class="goodies-bg">

<div class="menubar">
	<div class="ideas">نظرات</div>
	<div class="ideas2">مردم</div>

</div>
<div class="header1">

	<div class="motori-logo">MOTORI</div>
	<div class="yourmechanic">Your mechanic </div>
			<i class="fas fa-shopping-cart cart"></i>
<img src="polygon.png" class="polygon">
 <center><span id="timesClicked" class="num">0</span></center>
</div>

	<div class="slideshow-container">
<div class="mySlides fade">
	<div class="slide1">

		 <div class="text1">لنت</div>
		 <div class="text3">لیزر</div>
		 <div class="text2">لنت لیزر محصول کشور تایلند <br> بدون سوت و سروصدا <br><br> قیمت : 21000</div>
		 <img src="./lent.png" class="image1">

		 <div class="mystars1">
	<i class="fas fa-star stars2 responsive"></i>
<i class="fas fa-star stars1  responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
</div>
<form>
<div class="compare1">
مقایسه</div>
</form>
<form>
<div class="add1">
اضافه به سبد
</div>
</form>
<i class="fas fa-balance-scale balance1"></i>

	</div>
  <div class="slideshow-container1">
<div class="mySlides1 fade1">
  <div class="slide2"></div>
</div>

<div class="mySlides1 fade1">

<div class="slide2">
	 <img src="./lentlazer-real.jpg" class="image1">
</div>

</div>

<a class="next1" onclick="plusSlides1(1)">&#10095;</a>

</div>
<br>

</div>
<!--second right slide---------------------------------------------------->
<div class="mySlides fade">
	<div class="slide1">

		 <div class="text4">لنت لیزر طلایی</div>
		 <div class="text5">کیفیت و دوام فوق العاده بالا<br> بدون سوت و سروصدا <br><br> قیمت : 35000</div>
		 <img src="./lent2.jpg" class="image1">

		 <div class="mystars1">
	<i class="fas fa-star stars2 responsive"></i>
<i class="fas fa-star stars1  responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
</div>
<div class="compare1">
مقایسه</div>
<div class="add1">
اضافه به سبد
</div>
<i class="fas fa-balance-scale balance1"></i>

	</div>
  <div class="slideshow-container1">
<div class="mySlides2 fade1">
  <div class="slide2"></div>
</div>

<div class="mySlides2 fade1">

<div class="slide2">
	 <img src="./goldenlazer.jpg" class="image1">
</div>

</div>

<a class="next1" onclick="plusSlides2(1)">&#10095;</a>

</div>
<br>
</div>
<!-- -third right slide------------------------------->
<div class="mySlides fade">
	<div class="slide1">

		 <div class="text6">لنت نوبل</div>
		 <div class="text5">بالاترین کیفیت در لنت موتور<br>گیرایی بالا ، بدون صدا<br><br> قیمت : 45000</div>
		 <img src="./lent3.jpg" class="image1">

		 <div class="mystars1">
	<i class="fas fa-star stars2 responsive"></i>
<i class="fas fa-star stars1  responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
</div>
<div class="compare1">
مقایسه</div>
<div class="add1">
اضافه به سبد
</div>
<i class="fas fa-balance-scale balance1"></i>

	</div>
  <div class="slideshow-container1">
<div class="mySlides3 fade1">
  <div class="slide2"></div>
</div>

<div class="mySlides3 fade1">

<div class="slide2">
	 <img src="./lent-noble.jpg" class="image1">
</div>

</div>

<a class="next1" onclick="plusSlides3(1)">&#10095;</a>

</div>
<br>
</div>
<!-- forth-rightslide----------------->
<div class="mySlides fade">
	<div class="slide1">

		 <div class="text7">لنت <div class="psr">psr</div></div>
		 <div class="text8">محصول ایران کیفیت بالا ، دوام بالا  بدون صدا<br><br> قیمت : 20000</div>
		 <img src="./lent4.jpg" class="image1">

		 <div class="mystars1">
	<i class="fas fa-star stars2 responsive"></i>
<i class="fas fa-star stars1  responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
<i class="fas fa-star stars1 responsive"></i>
</div>
<div class="compare1">
مقایسه</div>
<div class="add1">
اضافه به سبد
</div>
<i class="fas fa-balance-scale balance1"></i>

	</div>
  <div class="slideshow-container1">
<div class="mySlides4 fade1">
  <div class="slide2"></div>
</div>

<div class="mySlides4 fade1">

<div class="slide2">
	 <img src="./lent-psr.jpg" class="image1">
</div>

</div>

<a class="next1" onclick="plusSlides4(1)">&#10095;</a>

</div>
<br>
</div>
<!-------------------------------------------------------------------->

<a class="next" onclick="plusSlides(1)">&#10095;</a>
<br>
<i class="fas fa-cart-plus addcart1" onclick="btnClick()" ></i>
<form>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<div class="box2">
</div>
<div class="box3"></div>
<div class="box2 box4"></div>
<div class="box3 box5"></div>
</div>
</form>
<div id="main">
  <span style="font-size:3vw;cursor:pointer" onclick="openNav()">
<img src="./arrow.png" class="arrow1">
  </span>

</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "35vw";
    document.getElementById("main").style.marginLeft = "10vw";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
    <script>

var timesClicked = 0;

function btnClick(){
  timesClicked ++;

document.getElementById("timesClicked").innerHTML = timesClicked;
return true
   }
   </script>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var cart=document.getElementById("cart1");
  var slides = document.getElementsByClassName("mySlides");
  if (n >4) {slideIndex = 1}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}
</script>
<script>
var slideIndex1 = 1;
showSlides1(slideIndex1);

function plusSlides1(n1) {
  showSlides1(slideIndex1 += n1);
}

function currentSlide1(n1) {
  showSlides1(slideIndex1 = n1);
}

function showSlides1(n1) {
  var j;
  var slides1 = document.getElementsByClassName("mySlides1");
  if (n1 >2) {slideIndex1 = 1}
  for (j = 0; j < slides1.length; j++) {
      slides1[j].style.display = "none";
  }
  slides1[slideIndex1-1].style.display = "block";

}
</script>
<script>
var slideIndex2 = 1;
showSlides2(slideIndex2);

function plusSlides2(n2) {
  showSlides2(slideIndex2 += n2);
}

function currentSlide2(n2) {
  showSlides2(slideIndex2 = n2);
}

function showSlides2(n2) {
  var j2;
  var slides2 = document.getElementsByClassName("mySlides2");
  if (n2 >2) {slideIndex2 = 1}
  for (j2 = 0; j2 < slides2.length; j2++) {
      slides2[j2].style.display = "none";
  }
  slides2[slideIndex2-1].style.display = "block";

}
</script>
<script>
var slideIndex3 = 1;
showSlides3(slideIndex3);

function plusSlides3(n3) {
  showSlides3(slideIndex3 += n3);
}

function currentSlide3(n3) {
  showSlides3(slideIndex3 = n3);
}

function showSlides3(n3) {
  var j3;
  var slides3 = document.getElementsByClassName("mySlides3");
  if (n3 >2) {slideIndex3 = 1}
  for (j3 = 0; j3 < slides3.length; j3++) {
      slides3[j3].style.display = "none";
  }
  slides3[slideIndex3-1].style.display = "block";

}
</script>
<script>
var slideIndex4 = 1;
showSlides4(slideIndex4);

function plusSlides4(n4) {
  showSlides4(slideIndex4 += n4);
}

function currentSlide4(n4) {
  showSlides4(slideIndex4 = n4);
}

function showSlides4(n4) {
  var j4;
  var slides4 = document.getElementsByClassName("mySlides4");
  if (n4 >2) {slideIndex4 = 1}
  for (j4 = 0; j4 < slides4.length; j4++) {
      slides4[j4].style.display = "none";
  }
  slides4[slideIndex4-1].style.display = "block";

}
</script>
</div>
</div>
<div class="all2 ">
	<div class="header2">
		<i class="fas fa-shopping-cart cart2"></i>
		<img src="./polygon.png" class="polygon5">
		<div class="motori-logo2">MOTORI</div>
		<div class="yourmechanic2">Your mechanic</div>
	</div>



<div class="slideshow-container2">

<div class="mySlides5 fade5">
	<div class="sshow1">
  	<div class="topic">لنت لیزر قرمز</div>
    <div class="topic2">مقایسه</div>
    	<div onclick="btnClick5()" class="addcart5">خرید</div>
    	  <div class="slideshow-container6">
<div class="mySlides6 fade6">
  <div class="slide6">
    <img src="./lent.png" class="simg6">
  </div>
</div>
<div class="mySlides6 fade6">
<div class="slide6">
  <img src="./lentlazer-real.jpg" class="simg6">
</div>
</div>
<a class="next6 " onclick="plusSlides6(1)">عکس های دیگر</a>
</div>
<br>
</div>

<div class="textbox1">
	<span class="text10">توضیحات
	<br>
لنت لیزر قرمز محصول کشور تایلند با کیفیت بالا
<br>
 cdi 125 مناسب برای
<br>
قیمت : 21000
<br>
امتیاز
</span>
</div>
<div class="ideas3">
	نظرات شما
</div>
<div class="textbox2"></div>
<div class="textbox3"></div>
<div class="textbox2 textbox4"></div>
<div class="textbox3 textbox5" ></div>
</div>
<!-- 1------------------------------------->
<div class="mySlides5 fade5">
	<div class="sshow2">
		 	<div class="topic topic3">لنت لیزر طلایی</div>
    <div class="topic2">مقایسه</div>
    <div onclick="btnClick5()" class="addcart5">خرید</div>
    <div class="slideshow-container6">
   <div class="mySlides7 fade7">
  <div class="slide7">
    <img src="./lent2.jpg" class="simg6">
  </div>
</div>
<div class="mySlides7 fade7">
<div class="slide7">
  <img src="./goldenlazer.jpg" class="simg6">
</div>
</div>
<a class="next7 " onclick="plusSlides7(1)">عکس های دیگر</a>
</div>
  </div>
  <div class="textbox1">
	<span class="text10">توضیحات
	<br>
کیفیت و دوام فوق العاده بالا
<br>
بدون سوت و سر و صدا
<br>
قیمت : 35000
<br>
امتیاز
</span>
</div>
<div class="ideas3">
	نظرات شما
</div>
<div class="textbox2"></div>
<div class="textbox3"></div>
<div class="textbox2 textbox4"></div>
<div class="textbox3 textbox5" ></div>
</div>
<!-- 2------------------------------------->
<div class="mySlides5 fade5">
  <div class="sshow3">
      <div class="topic topic4">لنت نوبل</div>
    <div class="topic2">مقایسه</div>
    <div onclick="btnClick5()" class="addcart5">خرید</div>
    <div class="slideshow-container6">
   <div class="mySlides8 fade8">
  <div class="slide8">
    <img src="./lent3.jpg" class="simg6">
  </div>
</div>
<div class="mySlides8 fade8">
<div class="slide8">
  <img src="./lent-noble.jpg" class="simg6">
</div>
</div>
<a class="next8 " onclick="plusSlides8(1)">عکس های دیگر</a>
</div>
  </div>
  <div class="textbox1">
  <span class="text10">توضیحات
  <br>
بالاترین کیفیت در لنت موتور
<br>
گیرایی بالا ، بدون صدا
<br>
قیمت : 45000
<br>
امتیاز

</span>
</div>
<div class="ideas3">
  نظرات شما
</div>
<div class="textbox2"></div>
<div class="textbox3"></div>
<div class="textbox2 textbox4"></div>
<div class="textbox3 textbox5" ></div>
</div>
<!-- 3------------------------------------->
<div class="mySlides5 fade5">
  <div class="sshow4">
      <div class="topic topic7">لنت</div>
      <div class="topic topic5">psr</div>
    <div class="topic2">مقایسه</div>
    <div onclick="btnClick5()" class="addcart5">خرید</div>
    <div class="slideshow-container6">
   <div class="mySlides9 fade9">
  <div class="slide9">
    <img src="./lent4.jpg" class="simg6">
  </div>
</div>
<div class="mySlides9 fade9">
<div class="slide9">
  <img src="./lent-psr.jpg" class="simg6">
</div>
</div>
<a class="next9 " onclick="plusSlides9(1)">عکس های دیگر</a>
</div>
  </div>
  <div class="textbox1">
  <span class="text10">توضیحات
  <br>
محصول ایران کیفیت بالا
<br>
دوام بالا بدون صدا
<br>
قیمت : 20000
<br>
امتیاز

</span>
</div>
<div class="ideas3">
  نظرات شما
</div>
<div class="textbox2"></div>
<div class="textbox3"></div>
<div class="textbox2 textbox4"></div>
<div class="textbox3 textbox5" ></div>
</div>
<!---------------------------------------4--------------------------->
<a class="prev5" onclick="plusSlides5(-1)">&#10094;</a>
<a class="next5" onclick="plusSlides5(1)">&#10095;</a>
</div>
<center><span id="timesClicked5" class="num5">0</span></center>
<div class="parallelogram1"></div>
		 <div class="mystars2">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star fa1"></span>
</div>
<i class="fas fa-bars icon15 loginap" id="myBtn"></i>
<div id="myModal" class="modal">


  <div class="modal-content">
    <div class="header15">
  <div class="motori-title15">MOTORI</div>

</div>
<div class="part2">
  <div id="myDIV">
  <div class="number15">شماره همراه</div>
  <input type="text" class="number15-box15">
  <div class="number16">رمز عبور</div>
  <input type="password" class="number16-box16">
  <a class="vorod15">ورود</a>
  <a class="forgot15">رمز خود را فراموش کرده ام</a>
  <div class="plaque15">شماره پلاک</div>
  <input type="text" class="plaque15-box15">
  <div class="number17">شماره همراه</div>
  <input type="text" class="number17-box17">
  <div class="name15">نام و نام خانوادگی</div>
  <input type="text" class="name15-box15">
  <div class="register15">ثبت نام</div>
</div>
<button onclick="myFunction()" class="login1">نام کاربری</button>
<div class="login2">تعمیر اورژانسی</div>
<div class="login2 login3">صفحه نخست</div>
<div class="login2 login4">صفحه من</div>
<div class="login2 login5">مجله موتور</div>



</div>
<div class="YourM15">Your mechanics</div>
    <span class="close10">&times;</span>
    <div class="modal-content2">

  </div>

</div>
</div>

<img src="./bg2.png" class="bg2">
</div>
<script>
var slideIndex5 = 1;
showSlides5(slideIndex5);

function plusSlides5(n5) {
  showSlides5(slideIndex5 += n5);
}

function currentSlide5(n5) {
  showSlides5(slideIndex5 = n5);
}

function showSlides5(n5) {
  var i5;
  var slides5 = document.getElementsByClassName("mySlides5");
  var dots5 = document.getElementsByClassName("dot5");
  if (n5 > slides5.length) {slideIndex5 = 1}
  if (n5 < 1) {slideIndex5 = slides5.length}
  for (i5 = 0; i5 < slides5.length; i5++) {
      slides5[i5].style.display = "none";
  }
  slides5[slideIndex5-1].style.display = "block";
}
</script>
    <script>

var timesClicked5 = 0;

function btnClick5(){
  timesClicked5 ++;

document.getElementById("timesClicked5").innerHTML = timesClicked5;
return true
   }
   </script>
   <script>
var slideIndex6 = 1;
showSlides6(slideIndex6);

function plusSlides6(n6) {
  showSlides6(slideIndex6 += n6);
}

function currentSlide6(n6) {
  showSlides6(slideIndex6 = n6);
}

function showSlides6(n6) {
  var j6;
  var slides6 = document.getElementsByClassName("mySlides6");
  if (n6 >2) {slideIndex6 = 1}
  for (j6 = 0; j6 < slides6.length; j6++) {
      slides6[j6].style.display = "none";
  }
  slides6[slideIndex6-1].style.display = "block";

}
</script>
   <script>
var slideIndex7 = 1;
showSlides7(slideIndex7);

function plusSlides7(n7) {
  showSlides7(slideIndex7 += n7);
}

function currentSlide7(n7) {
  showSlides7(slideIndex7 = n7);
}

function showSlides7(n7) {
  var j7;
  var slides7 = document.getElementsByClassName("mySlides7");
  if (n7 >2) {slideIndex7 = 1}
  for (j7 = 0; j7 < slides7.length; j7++) {
      slides7[j7].style.display = "none";
  }
  slides7[slideIndex7-1].style.display = "block";

}
</script>
   <script>
var slideIndex8 = 1;
showSlides8(slideIndex8);

function plusSlides8(n8) {
  showSlides8(slideIndex8 += n8);
}

function currentSlide8(n8) {
  showSlides8(slideIndex8 = n8);
}

function showSlides8(n8) {
  var j8;
  var slides8 = document.getElementsByClassName("mySlides8");
  if (n8 >2) {slideIndex8 = 1}
  for (j8 = 0; j8 < slides8.length; j8++) {
      slides8[j8].style.display = "none";
  }
  slides8[slideIndex8-1].style.display = "block";

}
</script>
   <script>
var slideIndex9 = 1;
showSlides9(slideIndex9);

function plusSlides9(n9) {
  showSlides9(slideIndex9 += n9);
}

function currentSlide9(n9) {
  showSlides9(slideIndex9 = n9);
}

function showSlides9(n9) {
  var j9;
  var slides9 = document.getElementsByClassName("mySlides9");
  if (n9 >2) {slideIndex9 = 1}
  for (j9 = 0; j9 < slides9.length; j9++) {
      slides9[j9].style.display = "none";
  }
  slides9[slideIndex9-1].style.display = "block";

}
</script>
<script>
var myIndex8 = 0;
carousel8();

function carousel8() {
    var i8;
    var x8 = document.getElementsByClassName("mySlides6");
    for (i8 = 0; i8 < x8.length; i8++) {
       x8[i8].style.display = "none";
    }
    myIndex8++;
    if (myIndex8 > x8.length) {myIndex8 = 1}
    x8[myIndex8-1].style.display = "block";
    setTimeout(carousel8, 10000);
}
</script>
<script>
var myIndex9 = 0;
carousel9();

function carousel9() {
    var i9;
    var x9 = document.getElementsByClassName("mySlides8");
    for (i9 = 0; i9 < x9.length; i9++) {
       x9[i9].style.display = "none";
    }
    myIndex9++;
    if (myIndex9 > x9.length) {myIndex9 = 1}
    x9[myIndex9-1].style.display = "block";
    setTimeout(carousel9, 10000);
}
</script>
<script>
var myIndex10 = 0;
carousel10();

function carousel10() {
    var i10;
    var x10 = document.getElementsByClassName("mySlides9");
    for (i10 = 0; i10 < x10.length; i10++) {
       x10[i10].style.display = "none";
    }
    myIndex10++;
    if (myIndex10 > x10.length) {myIndex10 = 1}
    x10[myIndex10-1].style.display = "block";
    setTimeout(carousel10, 10000);
}
</script>
<script>
var myIndex7 = 0;
carousel7();

function carousel7() {
    var i7;
    var x7 = document.getElementsByClassName("mySlides7");
    for (i7 = 0; i7 < x7.length; i7++) {
       x7[i7].style.display = "none";
    }
    myIndex7++;
    if (myIndex7 > x7.length) {myIndex7 = 1}
    x7[myIndex7-1].style.display = "block";
    setTimeout(carousel7, 10000);
}
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close10")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.visibility === 'hidden') {
        x.style.visibility = 'visible';
    } else {
        x.style.visibility = 'hidden';
    }
}
</script>
</body>
</html>
