{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<meta charset ="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <script type="text/javascript" src="./onepage.js"></script> -->
</head>
<body>

	<div class="all">
		<img src="{% static 'img/sec1.png' %}" class="sec1img">
		<div class="phonebox">
			موتورت تو راه خراب شده؟<br>
			یه درخواست بده تا<br>
			مکانیک ما بیاد کمکت<br>

		</div>
		<div class="register" onclick="regPanel()">درخواست مکانیک</div>
		<div class="register-opacity" id="register-panel" >
			<div class="panel-container">
				<form method="post"> {% csrf_token %}
					<div class="close4" onclick="regPanel2()">&#x2715;</div>
					<label for="name">
						<div class="name-container">نام</div>
						{{ request_form.first_name }}
					</label>
					<label for="fname">
						{{ request_form.last_name }}
						<div class="fname-container">نام خانوادگی</div>
					</label>
					<label for="phonenumber">
						{{ request_form.phone_number }}
						<div class="phonenumber-container">شماره تلفن</div>
					</label>
					<label for="explanation">
						{{ request_form.description }}
						<div class="explain">توضیحات</div>
					</label>
					<label for="submit">
						<button class="submit">ثبت</button>
					</label>
				</form>
			</div>
		</div>
		<img src="{% static 'img/mechanic.jpeg' %}" class="img2">


		<div class="box1"></div>
		<img src="{% static 'img/Layer 12.png' %}" class="img3">
		<div class="text2">تعمیر موتور سیکلت شما در هر زمان و هر مکان</div>
		<img src="{% static 'img/Layer 9.png' %}" class="img4">
		<div class="text3">فروش قطعات مورد نیاز موتورسیکلت شما</div>
		<img src="{% static 'img/Layer 7.png' %}" class="img5">
		<div class="text4">تحویل قطعات در کمترین زمان</div>
		<div class="box2"></div>
		<img src="{% static 'img/polygon1.png' %}" class="polygon1">
		<div class="box3"></div>
		<div class="w3-content w3-section" style="max-width:500px" >
			<img class="mySlides" src="{% static 'img/1.jpg' %}" style="width:25.5vw">
			<img class="mySlides" src="{% static 'img/2.jpg' %}" style="width:25.5vw">
			<img class="mySlides" src="{% static 'img/3.jpg' %}" style="width:25.5vw">
		</div>
		<div class="box4">توضیح قسمت انتخابی</div>
		<div class="box5">تعمیر فوری</div>
		<div class="box6">برنامه تعمیر</div>
		<div class="box7">فروشگاه</div>
		<div class="box8">مجله موتور</div>


		<div class="head1">
			<img src="/static/img/shop_Artboard1_footer.png" alt="دکتر موتوری دکتر موتوری لوگو مکانیک قطعات موتور" class="motori-logo1">
			<h1 class="headcommon">
			<h1 class="text11 headcommon">فروشگاه</h1>
			<h1 class="text12 headcommon">مجله موتور</h1>
			<h1 class="text13 headcommon">درباره ما</h1>
			</h1>
		</div>
	</div>
	<div class="slideshow-container2">

		<div class="mySlides2 fade2 fade3">
			<img src="{% static 'img/low/behran-tavan.jpg' %}" class="img10 imgII">
			<div class="price1 price9">قیمت <br> 10000<br>تومان</div>
			<div class="denso-candle" style="margin-left:76.6vw">روغن بهران توان</div>
			<img src="{% static 'img/low/speedy-golden.jpg' %}" class="img11 imgII">
			<div class="price2 price1">قیمت <br> 12000 <br>تومان</div>
			<div class="nolabel-candle denso-candle"style="margin-left:55.3vw" >روغن اسپیدی طلایی</div>
			<img src="{% static 'img/low/super-pishtaz.jpg' %}" class="img12 imgII">
			<div class="price3 price1">قیمت <br>18000 <br>تومان</div>
			<div class="rapido-candle denso-candle">روغن سوپر پیشتاز</div>
			<img src="{% static 'img/low/lent-energi-talaii-box.jpg' %}" class="img13 imgII">
			<div class="price4 price1">قیمت <br>28000 <br>تومان</div>
			<div class="technice-transistor denso-candle" style="margin-left:18.6vw">لنت انرژی</div>
		</div>

		<div class="mySlides2 fade2 fade4">
			<img src="{% static 'img/low/lent-standard-box-front.jpg' %}" class="img10 imgII">
			<div class="price5 price1 price9">قیمت <br>23000 <br>تومان</div>
			<div class="mabna-bobin denso-candle">لنت استاندارد</div>
			<img src="{% static 'img/low/lent-psr-box-front.jpg' %}" class="img11 imgII">
			<div class="price2 price1 price6">قیمت<br>15000 <br>تومان</div>
			<div class="denso-candle nolabel-candle" style="margin-left:57vw">لنت پی اس آر</div>
			<img src="{% static 'img/low/sham-rapido-self.jpg' %}" class="img12 imgII">
			<div class="price1 price3">قیمت<br>12000<br>تومان</div>
			<div class="rapido-candle denso-candle golden-lentlazer">شمع راپیدو </div>
			<img src="{% static 'img/low/sham-denso-honda-self.jpg' %}" class="img13 imgII img14">
			<div class="price1 price4">قیمت <br> 21000 <br>تومان</div>
			<div class="technice-transistor denso-candle psr-lent">شمع دنسو ژاپن</div>
		</div>

		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/low/sham-tgr1-homda-box-.jpg' %}" class="img10 imgII">
			<div class="price1 price9 price10">قیمت <br>9000<br>تومان</div>
			<div class="denso-candle" style="margin-left:78.2vw">شمع tgr1</div>
			<img src="{% static 'img/low/safhe-energi-talaii.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7 price12">قیمت<br>85000<br>تومان</div>
			<div class="denso-candle nolabel-candle speedy-oil" style="margin-left:54vw">صفحه کلاچ انرژی طلایی</div>
			<img src="{% static 'img/low/safhe-energi-ghermez.jpg' %}" class="img12 imgII">
			<div class="price1 price3 price8">قیمت<br>85000<br>تومان</div>
			<div class="denso-candle rapido-candle" style="margin-left:35vw">صفحه کلاچ انرژی قرمز</div>
			<img src="{% static 'img/low/safhe-standard.jpg' %}" class="img13 imgII">
			<div class="price1 price4">قیمت<br>30000<br>تومان</div>
			<div class="denso-candle lavazem-carberator" style="margin-left:16vw">صفحه کلاچ استاندارد</div>
		</div>
		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/low/shezher-technic-box-front.jpg' %}" class="img10 imgII">
			<div class="price1 price9">قیمت <br>23000<br>تومان</div>
			<div class="denso-candle" style="margin-left:77.5vw">شارژر تکنیک</div>
			<img src="{% static 'img/low/sun-part-sharzher-front.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7 price13">قیمت<br>20000<br>تومان</div>
			<div class="denso-candle nolabel-candle">شارژر سان پارت</div>
			<img src="{% static 'img/low/transistor-honda-technic-box.jpg' %}" class="img12 imgII">
			<div class="price1 price3 price8">قیمت<br>27000<br>تومان</div>
			<div class="denso-candle rapido-candle">ترانزیستور تکنیک</div>
			<img src="{% static 'img/low/zanjir-rapido-box-honda.jpg' %}" class="img13 imgII">
			<div class="price1 price4" style="padding-right: 6.5vw;">قیمت<br>50000<br>تومان</div>
			<div class="denso-candle" style="margin-left:16vw">زنجیر راپیدو ضخیم</div>
		</div>
		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/low/zanjir-pms-box-front.jpg' %}" class="img10 imgII">
			<div class="price1 price9">قیمت <br>45000<br>تومان</div>
			<div class="denso-candle" style="margin-left:78vw">زنجیر pms</div>
			<img src="{% static 'img/low/zanjir-racer-honda-box.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7 price14">قیمت<br>47000<br>تومان</div>
			<div class="denso-candle nolabel-candle" style="margin-left: 58vw;">زنجیر ریسر</div>
			<img src="{% static 'img/low/set-zanjir-energi-talaii-box-front.jpg' %}" class="img12 imgII">
			<div class="price1 price3 price11">قیمت<br>100000<br>تومان</div>
			<div class="denso-candle rapido-candle" style="margin-left:34.5vw">ست زنجیر انرژیی طلایی</div>
			<img src="{% static 'img/low/set-zanjir-rapido.jpg' %}" class="img13 imgII">
			<div class="price1 price4" >قیمت<br>95000<br>تومان</div>
			<div class="denso-candle" style="margin-left:17vw">ست زنجیر راپیدو</div>
		</div>
		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/low/set-zanjir-olampiya.jpg' %}" class="img10 imgII">
			<div class="price1 price9">قیمت <br>80000<br>تومان</div>
			<div class="denso-candle" style="margin-left:77.5vw">ست زنجیر المپیا</div>
			<img src="{% static 'img/low/bobin-nobel-box.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7 price14 price15">قیمت<br>120000<br>تومان</div>
			<div class="denso-candle nolabel-candle" style="margin-left: 58vw;">بوبین نوبل</div>
			<img src="{% static 'img/low/bobin-mabna-front.jpg' %}" class="img12 imgII">
			<div class="price1 price3">قیمت<br>55000<br>تومان</div>
			<div class="denso-candle rapido-candle" style="margin-left:38.5vw">بوبین مبنا</div>
			<img src="{% static 'img/low/tube-jelo.jpg' %}" class="img13 imgII">
			<div class="price1 price4" >قیمت<br>20000<br>تومان</div>
			<div class="denso-candle" style="margin-left:17.8vw">تیوب جلو یاسا</div>
		</div>
		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/low/tube-jelo.jpg' %}" class="img10 imgII">
			<div class="price1 price9">قیمت <br>22000<br>تومان</div>
			<div class="denso-candle" style="margin-left:77.5vw">تیوب عقب یاسا</div>
			<!--<img src="{% static 'img/.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7">قیمت<br>30000<br>تومان</div>
			<div class="denso-candle nolabel-candle" style="margin-left: 58vw;">درب لنت عقب</div>
			<img src="{% static 'img/shop_3.jpg' %}" class="img12 imgII">
			<div class="price1 price3" style="padding-left: 9vw;padding-right: 8.2vw;">قیمت<br>8000<br>تومان</div>
			<div class="denso-candle rapido-candle" style="margin-left: 30vw;">بولرینگ های چرخ جلو</div>
			<img src="{% static 'img/shop_9.jpg' %}" class="img13 imgII">
			<div class="price1 price4" >قیمت<br>10000<br>تومان</div>
			<div class="denso-candle" style="margin-left:6vw">بولرینگ های چرخ جلو</div>
		</div>
		<div class="mySlides2 fade2 fade5">
			<img src="{% static 'img/shop_1.jpg' %}" class="img10 imgII">
			<div class="price1">قیمت <br>12000<br>تومان</div>
			<div class="denso-candle" style="margin-left:78.7vw">بولرینگ های چرخ جلو</div>
			<img src="{% static 'img/shop_2.jpg' %}" class="img11 imgII">
			<div class="price1 price2 price7" style="padding-right: 9vw;">قیمت<br>8000<br>تومان</div>
			<div class="denso-candle nolabel-candle" style="margin-left: 54vw;">بولرینگ های چرخ عقب</div>
			<img src="{% static 'img/shop_3.jpg' %}" class="img12 imgII">
			<div class="price1 price3" style="padding-left: 9vw;padding-right:7vw;">قیمت<br>10000<br>تومان</div>
			<div class="denso-candle rapido-candle" style="margin-left: 29.5vw;">بولرینگ های چرخ عقب</div>
			<img src="{% static 'img/shop_9.jpg' %}" class="img13 imgII">
			<div class="price1 price4" >قیمت<br>12000<br>تومان</div>
			<div class="denso-candle" style="margin-left:5.5vw">بولرینگ های چرخ عقب</div>-->
		</div>

		<a class="prev2" onclick="plusSlides2(-1)">&#10094;</a>
		<a class="next2" onclick="plusSlides2(1)">&#10095;</a>

	</div>
	<div class="all">
		<img src="{% static 'img/polygon1.png' %}" class="img15">
		<p class="paragraph1">تاحالا شده که موتورت تو راه بمونه؟
			یا وقت نداشته باشی بری و برای موتورت قطعه بخری؟
			خب من زیاد دیدم این اتفاق بیوفته،پس "من" شدم "ما" و دکترموتوری رو راه انداختیم تا شما موتورسوارا دیگه نه تو راه بمونید نه از وقت استراحتتون بزنید. این تازه شروعشه <div class="box10"></div>
			<div class="box9"></div>
			<div class="box18">
			</div>
			<img src="{% static 'img/footer-bg.png' %}" class="img16">
			<img src="{% static 'img/shop_Artboard 1.png' %}" alt="" class="motori-logo2">
			<div class="text8">صفحه نخست <br>تعمیر موتور <br> سرویس ها <br>
				فروشگاه <br> مجله موتور <br> تماس با ما <br> درباره ما
			</div>
			<div class="text9">نحوه ثبت سفارش <br> تعمیرکاران <br> تعرفه ها</div>
			<br>
			<script>
			var myIndex = 0;
			carousel();

			function carousel() {
				var i;
				var x = document.getElementsByClassName("mySlides");
				for (i = 0; i < x.length; i++) {
					x[i].style.display = "none";
				}
				myIndex++;
				if (myIndex > x.length) {myIndex = 1}
				x[myIndex-1].style.display = "block";
				setTimeout(carousel, 10000); // Change image every 2 seconds
			}
		</script>
		<script>
		var slideIndex2 = 1;
		showSlides2(slideIndex2);

		function plusSlides2(n2) {
			showSlides2(slideIndex2 += n2);
		}

		function currentSlide2(n2) {
			showSlides2(slideIndex2 = n2);
		}

		function showSlides2(n2) {
			var i2;
			var slides2 = document.getElementsByClassName("mySlides2");
			var dots2 = document.getElementsByClassName("dot2");
			if (n2 > slides2.length) {slideIndex2 = 1}
			if (n2 < 1) {slideIndex2 = slides2.length}
			for (i2 = 0; i2 < slides2.length; i2++) {
				slides2[i2].style.display = "none";
			}
			for (i2 = 0; i2 < dots2.length; i2++) {
				dots2[i2].className = dots2[i2].className.replace(" active2", "");
			}
			slides2[slideIndex2-1].style.display = "block";
			dots2[slideIndex2-1].className += " active2";
		}
	</script>
</div>
<div class="all2">
	<div class="header2">
		<!-- <img src="{% static 'img/shop_Artboard 1_footer.png' %}" alt="" class="mobile-header-logo"> -->
		<button id="myBtn20" class="loginap20">
			<i class="fas fa-bars icon20"></i>
		</button>

		<!-- The Modal -->
		<div id="myModal20" class="modal20">

			<!-- Modal content -->
			<div class="modal-content4">
				<div class="filters2-bg1"></div>
				<div class="filters2-motori">MOTORI</div>
				<div class="filters2-yourmechanics">Your mechanics</div>
				<span class="close2">&times;</span>
				<button onclick="myFunction()" class="filters2-box1"><div class="filters2-text2">نام</div>

					<div class="filters2-text1">کاربری</div>
				</button>
				<div class="filters2-bg3"></div>
				<div id="myDIV">
					<div class="filters2-text3">شماره همراه</div>
					<input type="text10" class="filters2-text3-box1"
					onkeyup="f1(event)">

					<div class="filters2-text4">رمز عبور</div>
					<input type="password" class="filters2-text4-box2"
					id="eventbox1" onkeyup="f2(event)">

					<a  class="filters2-text5-box3" href="" ><div class="textt12">ورود
					</div></a>

					<div class="filters2-text6">شماره همراه</div>
					<input type="text12" class="filters2-text6-box4" id="eventbox3" onkeyup="f4(event)">

					<div class="filters2-text7">شماره پلاک</div>
					<input type="text13" class="filters2-text7-box5"
					id="eventbox2" onkeyup="f3(event)">

					<div class="filters2-text8">نام و نام خانوادگی</div>
					<input type="text14" class="filters2-text8-box6" id="eventbox4">
					<a href="" class="text15">رمز عبور خود را فراموش کرده ام</a>
				</div>
				<button class="filter2-box2"><div class="text17">تعمیر اورژانسی</div>

					<button class="filter2-box3">
						<div class="text18">صفحه نخست</div>
					</button>
					<button class="filter2-box4">
						<div class="text19">صفحه من</div>
					</button>
					<button class="filter2-box5">
						<div class="text20">مجله موتور</div>
					</button>
					<div id="myNav" class="overlay" >
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<div class="overlay-content">
							<div class="box19">
								<input type="text" class="text24">
								<div class="text25">کد فرستاده شده را وارد کنید</div>
							</div>

						</div>
					</div>

					<span style="font-size:3.5vw;cursor:pointer" onclick="openNav()" class="text23" > ثبت نام</span>
				</div>
			</div>
		</div>
		<div class="slideshow-bg"></div>
		<img src="{% static 'img/part2-mobile-bg-onepage.png' %}" class="img17">
		<div class="text21">تامین قطعات و تعمیر موتور شما</div>
		<div class="text22">در هر جایی که شما هستید</div>
		<img src="{% static 'img/mechanic2.png' %}" class="img18">
		<div class="text26">

		</div>
		<div class="text27">شماره همراه </div>
		<input type="text" class="text28" onkeyup="f5(event)">
		<div class="text29">نام</div>
		<input type="text" class=" text28 text30" id="eventbox5"
		onkeyup="f6(event)">
		<div class="text31 text29">نام خانوادگی</div>
		<input type="text" class="text32 text28" id="eventbox6">
		<div id="mySidenav3" class="sidenav3">
			<div class="text44"></div>
			<a href="javascript:void(0)" class="closebtn3" onclick="closeNav3()">&times;</a>

			<div class="text43">
				<input type="text" class="text45">
				<div class="text46">کد فرستاده شده را وارد کنید</div>
			</div>

		</div>
		<span  onclick="openNav3()" class="text42">ثبت</span>
		<img src="{% static 'img/mobile-bgg-3.png' %}" class="img20">
		<div class="text34">تحویل قطعات در کمترین زمان </div>
		<div class="text35">فروش قطعات موتور سیکلت شما</div>
		<div class="text36">تعمیر موتور شما در هر مکان و زمان </div>
	</div>
	<div class="box20">
		<p class="about-us">
			تاحالا شده که موتورت تو راه بمونه؟
			یا وقت نداشته باشی بری و برای موتورت قطعه بخری؟
			خب من زیاد دیدم این اتفاق بیوفته،پس "من" شدم "ما" و دکترموتوری رو راه انداختیم تا شما موتورسوارا دیگه نه تو راه بمونید نه از وقت استراحتتون بزنید.
			این تازه شروعشه...
		</p>
	</div>
	<div class="box25">
		<div class="all4">
			<img src="{% static 'img/shop_Artboard 1.png' %}" alt="" class="mobile-footer-logo">
		</div>
		<div class="text40">صفحه نخست <br> تعمیر موتور <br> سرویس ها <br>
			فروشگاه ها <br> مجله موتور <br> تماس با ما <br>درباره ما</div>
		</div>
		<div class="text41">نحوه ثبت سفارش <br> تعمیرکاران <br>تعرفه ها</div>
		<script>
		function myFunction() {
			var x1 = document.getElementById("myDIV");
			if (x1.style.display === "none") {
				x1.style.display = "block";
			} else {
				x1.style.display = "none";
			}

		}

	</script>
	<script>
	// Get the modal
	var modal21 = document.getElementById('myModal20');

	// Get the button that opens the modal
	var btn21 = document.getElementById("myBtn20");

	// Get the <span> element that closes the modal
	var span21 = document.getElementsByClassName("close2")[0];

	// When the user clicks the button, open the modal
	btn21.onclick = function() {
		modal21.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span21.onclick = function() {
		modal21.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal21) {
			modal21.style.display = "none";
		}
	}
</script>
<script>
function openNav() {
	document.getElementById("myNav").style.height = "100.2%";
}

function closeNav() {
	document.getElementById("myNav").style.height = "0%";
}
</script>
</script>
<script>
var regOpen = document.getElementById('register-panel')
function regPanel()
{
	regOpen.style.display = "unset";
}
function regPanel2()
{
	regOpen.style.display = "none";
}
</script>
</body>
</html>
