<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./order.css">
    <script src="./test.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
   <section>
<div>
<ul>

    <header>
<div class="header">
<nav class="nav-content">
<div><img src="shop_Artboard1_footer.png" class="logo1"></div>
<div>
<ul class="unorder-list">
<li class="a1"> <a > درباره ما </a></li>
<li class="a1"> <a> مجله موتور </a></li>
<li class="a1"> <a>  فروشگاه</a></li>
<li class="a1 a2"> <a>  صفحه نخست</a></li>
</ul>
</div>
</nav>
</div>
    </header>
    <section>
<div class="lineCircle">
<div class="line3" >
<div class="circle">
    </div>
<span class="lineCircle-content">پایان</span>
</div>
<div class="line">
<div class="circle circle3">
    </div>
<span class="lineCircle-content"> مکانیک</span>
</div>
<div class="line">
<div class="circle circle1">
    </div>
<span class="lineCircle-content">سفارشات </span>
</div>
</div>
</section>
    <li class="mySlides" style="display: unset;">
<section >
<div>
<div class="title1">

        <h1>قیمت</h1>
        <h1>تعداد</h1>
        <h1>نام</h1>
</div>
<div class="all-line2">
<div class="line2">
<div class="circle2">
<img src="./lent2.jpg" class="image1">
</div>
<div class="category1">
        <span >ت 26000</span>
    <div class="clickable">
           <input type="text" class="quantity" value="1" >
           <div class="triangle" onclick="f1()"></div>
           <div class="all-items" style="display:none;">
               <span class="item1" onclick="f1(); f2(1)">1</span>
               <span class="item1" onclick="f1(); f2(2)">2</span>
               <span class="item1" onclick="f1(); f2(3)">3</span>
               <span class="item1" onclick="f1(); f2(4)">4</span>
               <span class="item1" onclick="f1(); f2(5)">5</span>
               <span class="item1" onclick="f1(); f2(6)">6</span>
               <span class="item1" onclick="f1(); f2(7)">7</span>
               <span class="item1" onclick="f1(); f2(8)">8</span>
               <span class="item1" onclick="f1(); f2(9)">9</span>
               <span class="item1" onclick="f1(); f2(10)">10</span>
           </div>
    </div>


<span>
    لنت لیزر طلایی هوندا</span>
</div>
</div>

<div class="line2">
    <div class="circle2 circle4">
        <span class="plus">+</span>    
    </div>
    <div class="all-add">
            <span class="shop">
                    فروشگاه
                    </span>
<span class="addtocart">
    اضافه به سبد
</span>

</div>
</div>
<div class="line2">
    <div class="common2">
            <span>46000 ت</span>
<span>
جمع کل 
</span>

</div>
</div>
</div>

</div>
<div class="common3"> 
        <img src="./cart-bg2.jpg" class="footer-img1 footer-img">
        <div class="all-triangle2">
        <span onclick="prevSlide()" class="triangle2">
        مرحله قبل
        </span>
        <span class="triangle-shape2"></span>
        </div>
        <div class="all-triangle1 all-triangle2" >
        <span onclick="nextSlide()" class="triangle1 triangle2">
        مرحله بعد
        </span>
        <span class="triangle-shape2 triangle-shape1"></span>
        </div>
        </div>

</div>

</div>

</section>

</li>
<li class="mySlides">
        <section style="margin-top: 30px;">
                              <!--pre address-->
    <div class="lineII">
    <span class="lineII-content">
        
آدرس پیش فرض : 

    <span>امیریه</span>
<label class="container">
  <input type="radio" checked="checked" name="radio" class="radio2">
  <span class="checkmark"></span>
</label>
    </span>
    </div>
                          <!--ends here-->
                <div class="lineII">
            <label for="new-address">
                <input type="text" class="new-address" placeholder="آدرس جدید :">
            </label>
                </div>
                <div class="lineII">
                        <span class="lineII-content">
                            
        ( ارسال با پیک (بدون مکانیک 
                    
                       
       <input type="radio" name="radio1" class="radio2">
                        </span>
                        </div>
    <div class="lineII lineII2">
    <span class="lineII-content">
    <span class="time-topic">ساعت مراجعه مکانیک </span>
    <div class="time">
            <span>جمعه</span>
            <span>پنج شنبه</span>
            <span>چهارشنبه</span>
            <span>سه شنبه</span>
            <span>دوشنبه</span>
            <span>یکشنبه</span>
            <span>شنبه</span>
            <span>ساعت</span>
    </div>
    <div class="time" style="background-color:#dcdcdc;">
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span style="direction: rtl;"> ۶ تا ۱۲ <span style="font-size:3px; color: #ccc;">۶</span></span>
    </div>
    <div class="time">
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span style="direction: rtl;">۱۲ تا ۱۸ </span>
    </div>
    <div class="time" style="background-color:#dcdcdc;">
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span style="direction: rtl;">۱۸ تا ۲۱ </span>
    </div>
    <div class="time" >
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span><input type="radio" name="radio3" class="radio3"></span>
        <span style="direction: rtl;">۲۱ تا ۱۲ </span>
    </div>
    </span>
    </div>
                </section>
                <footer>
                    <img src="./cart-side2-bg2.png" alt="" class="footer-img">
                </footer>
                <div class="common3"> 
                        <div class="all-triangle2">
                        <span onclick="prevSlide()" class="triangle2">
                        مرحله قبل
                        </span>
                        <span class="triangle-shape2"></span>
                        </div>
                        <div class="all-triangle1 all-triangle2" >
                        <span onclick="nextSlide()" class="triangle1 triangle2">
                        مرحله بعد
                        </span>
                        <span class="triangle-shape2 triangle-shape1"></span>
                        </div>
                        </div>
</li>
<li class="mySlides">
    <section>
        <div class="lineIII">
            <div class="all-total">
        <div class="total1">
                <span>8000</span>
            <span>اجرت لنت</span>
        </div>
        <div class="total1">
                <span>8000</span>
            <span>اجرت لنت</span>
        </div>
        <div class="total1">
                <span>8000</span>
            <span>اجرت لنت</span>
        </div>
        <div class="total1">
                <span>8000</span>
            <span>اجرت لنت</span>
        </div>
        <div class="total1">
                <span>8000</span>
            <span>اجرت لنت</span>
        </div>
    </div>
        <div>
        <span class="cashier">قیمت کل : 20000 تومان</span>
        <span class="pay">پرداخت آنلاین</span>
        </div>
        </div>
    </section>
        <footer>
        <div class="lineIII lineIII2">
          <span class="finale">سفارش شما در تاریخ 98/5/1 ارسال میشود
              <br>
              همراه با مکانیک
              <br>
              و در بازه 6 الی 12 به دست شما میرسد
          </span>  
          <img src="./Artboard 1.png" alt="" class="footer-img3">
        </div>
    </footer>
    <div class="common3 common4"> 
            <div class="all-triangle2">
            <span onclick="prevSlide()" class="triangle2">
            مرحله قبل
            </span>
            <span class="triangle-shape2"></span>
            </div>
            <div class="all-triangle1 all-triangle2" >
            <span onclick="nextSlide()" class="triangle1 triangle2">
            مرحله بعد
            </span>
            <span class="triangle-shape2 triangle-shape1"></span>
            </div>
            </div>  
</li>

</ul>
</div>  
</section>
</body>
</html>