{% load static %}
{% load index %}
<!DOCTYPE html>
<html>
<head>
	<title>motori</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
	<meta charset ="utf-8">
	<link rel="stylesheet" href="../static_files/css/shop.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
	<div class="all ">
		<div class="ym">

			<img src="{% static 'img/shop_foroshgah.png' %}" class="responsive foroshgah">
			<img src="{% static 'img/shop_motor.png' %}" class="responsive motor">
		</div>
		<div class="header3">
			<div class="search1"><input type="text1" placeholder ="جست و جو در فروشگاه" class="search1" id="search1"></div>
		</div>

		<img src="{% static 'img/shop_motori-bg.jpg' %}" class="responsive motori-bg">


		<div class="header4"><div class="text6">پرفروش ها</div>
		<div class="slideshow-container">

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<span class="items1">
					<img src="{% static 'img/shop_1.jpg' %}" class="item9 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_2.jpg' %}" class="item10 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_3.jpg' %}" class="item11 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_4.jpg' %}" class="item12 responsive" style="width:23.44%">

				</span>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<span class="items2">
					<img src="{% static 'img/shop_5.jpg' %}" class="item5 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_6.jpg' %}" class="item6 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_7.jpg' %}" class="item7 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_8.jpg' %}" class="item8 responsive" style="width:25%">
				</span>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<span class="items3">
					<img src="{% static 'img/shop_9.jpg' %}" class="item1 responsive" style="width:23.44% ">
					<img src="{% static 'img/shop_6.jpg' %}" class="item2 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_7.jpg' %}" class="item3 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_8.jpg' %}" class="item4 responsive" style="width:25%" >
				</span>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
		<br>

	</div>

	<div class="content">
		<div class="common2"></div>
		<div class="kind1 common2">نوع موتور</div>
		<img src="{% static 'img/shop_motor-logo.png' %}" class="responsive motor-logo">
		<div class="box1"></div>
		<div class="checkbox">
			<label class="container"><div class="checkbox1">موتوری</div>
				<input type="radio" checked="checked" name="radio">
				<span class="checkmark"></span>
			</label>
			<label class="container"><div class="checkbox2">ظاهری</div>
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
		</div>
		<div class="box2"></div>
		<div class="brand common2">برند</div>
		<div class="box3"></div>
		<div class="range common2">محدوده قیمت</div>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
			<p class="value">مقدار: <span id="demo"></span></p>
		</div>
		<div class="box4"></div>
		<div class="lavazemjanebi common2">لوازم جانبی</div>
		<div class="box5"></div>
		<div class="dastebandi common2"> انواع دسته بندی</div>
	</div>
	<span class="img" style="display:none"></span>
	<i class="imgg"></i>


{% for good in goods_list %}

	<span class="img1 common1">
		<div class="star-rating4 responsive">
			<input id="star-5III" type="radio" name="rating" value="star-5">
			<label for="star-5III" title="5 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-4III" type="radio" name="rating" value="star-4">
			<label for="star-4III" title="4 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-3III" type="radio" name="rating" value="star-3">
			<label for="star-3III" title="3 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-2III" type="radio" name="rating" value="star-2">
			<label for="star-2III" title="2 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-1III" type="radio" name="rating" value="star-1">
			<label for="star-1III">
				<i class="active fa fa-star star1"></i>
			</label>
		</div>
		<i class="fas fa-cart-plus imgg4 imgg" onclick="btnClick()"></i>
		<div class="imgtext5">{{ good.Title }}</div>
		<div class="imgtext6">
			امتیاز <br>قیمت
		</div>
		<div class="price4">{{ good.Price }}</div>
		<img src="{{ first_image|index:forloop.counter0 }}" class="responsive image4">
	</span>

{% endfor %}

	<div class="footer">
		<img src="{% static 'img/shop_footer-bg.png' %}" class="responsive footer-bg">
		<div class="footer-logo">MOTORI</div>
		<div class="footer-mechanic-logo"><span class="footer-mechanic-logo2">Your </span><span class="footer-mechanic-logo3">mechanics</span></div>
		<div class="footer-text">
			صفحه نخست
			<br>
			تعمیر موتور
			<br>
			سرویس ها
			<br>
			فروشگاه ها
			<br>
			مجله موتور
			<br>
			تماس با ما
			<br>
			درباره ما
		</div>
		<div class="footer-text2 footer-text">
			نحوه ثبت سفارش      <br>
			تعمیرکاران<br>
			تعرفه ها

		</div>
	</div>

	<div class="header ">
		<button id="myBtn" class="loginap">نام/login</button>

		<div class="header2 ">
			<img src="{% static 'img/shop_Artboard 1.png' %}" alt="Drmotori logo motor mechanics مکانیک موتور دکترموتوری تعمیر موتور " class="Drmotori-logo">
			<i class="fas fa-shopping-cart cart"></i>
			<img src="{% static 'img/shop_polygon.png' %}" class="responsive polygon">
		</div>
	</div>

	<center><span id="timesClicked" class="num">0</span></center>
	<!-- Trigger/Open The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="number"></div>
			<input type="text5" class="text5" style="display:none">
			<span class="close">&times;</span>

			<div class="loginap-left">
				<div class ="number number1">شماره همراه</div>
				<input type="text5" name="login" class="login text5">
				<div class="number number2">رمز عبور</div>
				<input type="password" name="password" class="password text5">
				<a href="" class="common2"></a>
				<a href="" class="vorod common2">ورود</a>
				<a href="" class="faramosh ">رمز عبور خود را فراموش کرده ام</a>
			</div>
			<div class="modal-content2">
				<div class="number number3">شماره همراه</div>
				<input type="text2" name="phonenumber" class="login text5">
				<div class="number4 number">شماره پلاک</div>
				<input type="text3" name="plaquenumber" class="login text5">
				<div class="number5 number">نام و نام خانوادگی</div>
				<input type="text4" name="fname" class="login text5">
				<a href="" class="register common2">ثبت نام</a>
			</div>

		</div>
	</div>
	<button id="myButton" class="loginap10">
		<i class="fas fa-filter filter1"></i></button>
		<button id="myBtn20" class="loginap20">
			<i class="fas fa-bars icon20"></i>
		</button>

		<!-- The Modal -->
		<div id="myModal20" class="modal20">

			<!-- Modal content -->
			<div class="modal-content4">
				<div class="filters2-bg1"></div>
				<div class="filters2-motori">MOTORI</div>
				<div class="filters2-yourmechanics">Your mechanics</div>
				<span class="close2">&times;</span>
				<button onclick="myFunction()" class="filters2-box1"><div class="filters2-text2">نام</div>

					<div class="filters2-text1">کاربری</div>
				</button>
				<div class="filters2-bg3"></div>
				<div id="myDIV">
					<div class="filters2-text3">شماره همراه</div>
					<input type="text10" class="filters2-text3-box1">

					<div class="filters2-text4">رمز عبور</div>
					<input type="password" class="filters2-text4-box2">

					<a  class="filters2-text5-box3" href="" ><div class="text12">ورود
					</div></a>

					<div class="filters2-text6">شماره همراه</div>
					<input type="text12" class="filters2-text6-box4">

					<div class="filters2-text7">شماره پلاک</div>
					<input type="text13" class="filters2-text7-box5">

					<div class="filters2-text8">نام و نام خانوادگی</div>
					<input type="text14" class="filters2-text8-box6">
					<a href="" class="text15">رمز عبور خود را فراموش کرده ام</a>
					<div class="filters2-text9-box7"></div>
					<a class="text16" href="">ثبت نام</a>
				</div>
				<button class="filter2-box2"><div class="text17">تعمیر</div>
					<div class="text21">اورژانسی</div>

					<button class="filter2-box3">
						<div class="text18">صفحه نخست</div>
					</button>
					<button class="filter2-box4">
						<div class="text19">صفحه من</div>
					</button>
					<button class="filter2-box5">
						<div class="text20">مجله موتور</div>
					</button>

				</div>

			</div>
			<button id="myButton" class="loginap10">
				<i class="fas fa-filter filter1"></i></button>
				<!-- The Modal -->
				<div id="myModal10" class="modal10">
					<div class="modal-content10">
						<div class="filter1-bg1"><i class="fas fa-filter filter2"></i><div class="filter1-header">فیلترها</div></div>
						<span class="close1">&times;</span>
						<div class="filter1-bg2"></div>
						<button id="myBtn10" class="loginap1"><div class="filtertext1">
							نوع موتور
						</div>
					</button>
					<div class="modal11" id="myModal11">
						<div class="filterkind1">
							<label class="container1"><div class="filterkind1-text1 cg">cg-125</div>
								<input type="checkbox" checked="checked">
								<span class="checkmark1"></span>
							</label>
							<label class="container1"><div class="filterkind1-text1">هوندا-200</div>
								<input type="checkbox">
								<span class="checkmark1"></span>
							</label>
							<label class="container1"><div class="filterkind1-text1">ویو</div>
								<input type="checkbox">
								<span class="checkmark1"></span>
							</label>
							<label class="container1"><div class="filterkind1-text1">آپاچی</div>
								<input type="checkbox">
								<span class="checkmark1"></span>
							</label>
							<label class="container1"><div class="filterkind1-text1">باکستر</div>
								<input type="checkbox">
								<span class="checkmark1"></span>
							</label>
						</div>

					</div>
					<button id="myBtn2" class="loginap2 loginap1"><div class="filtertext2">
						برند
					</div>
				</button>
				<button id="myBtn3" class="loginap3 loginap1"><div class="filtertext3">
					محدوده قیمت
				</div>
			</button>
			<button id="myBtn4" class="loginap4 loginap1"><div class="filtertext4">
				نوع قطعه
			</div>
		</button>
		<button id="myBtn5" class="loginap5 loginap1"><div class="filtertext5">
			لوازم جانبی
		</div>
	</button>
	<button id="myBtn6" class="loginap6 loginap1"><div class="filtertext6">
		کلاه کاسکت
	</div>
</button>
</div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
	showSlides(slideIndex += n);
}

function currentSlide(n) {
	showSlides(slideIndex = n);
}

function showSlides(n) {
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("dot");
	if (n > slides.length) {slideIndex = 1}
	if (n < 1) {slideIndex = slides.length}
	for (i = 0; i < slides.length; i++) {
		slides[i].style.display = "none";
	}
	for (i = 0; i < dots.length; i++) {
		dots[i].className = dots[i].className.replace(" active", "");
	}
	slides[slideIndex-1].style.display = "block";
	dots[slideIndex-1].className += " active";
}
</script>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
	output.innerHTML = this.value;
}
</script>
<script>
var btn1 = document.getElementById("myBtn1");
btn1.onclick=function()
{
	if (modal1.style.display === "none") {
		modal1.style.display = "block";
	} else {
		modal1.style.display = "none";
	}
}
var modal1 = document.getElementById('myModal1');
// Get the modal
var modal = document.getElementById('myModal2');

// Get the button that opens the modal
var btn = document.getElementById("myBtn7");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>
<script>
var btn1 = document.getElementById("myBtn10");
btn1.onclick=function()
{
	if (modal11.style.display === "none") {
		modal11.style.display = "block";
	} else {
		modal11.style.display = "none";
	}
}
var modal11 = document.getElementById('myModal11');
// Get the modal
var modal12 = document.getElementById('myModal10');

// Get the button that opens the modal
var button12 = document.getElementById("myButton");

// Get the <span> element that closes the modal
var span12 = document.getElementsByClassName("close1")[0];

// When the user clicks the button, open the modal
button12.onclick = function() {
	modal12.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span12.onclick = function() {
	modal12.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal12) {
		modal12.style.display = "none";
	}
}
</script>
<script>
function myFunction() {
	var x = document.getElementById("myDIV");
	if (x.style.display === "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
}
</script>
<script>
// Get the modal
var modal21 = document.getElementById('myModal20');

// Get the button that opens the modal
var btn21 = document.getElementById("myBtn20");

// Get the <span> element that closes the modal
var span21 = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal
btn21.onclick = function() {
	modal21.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span21.onclick = function() {
	modal21.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal21) {
		modal21.style.display = "none";
	}
}
</script>
<script>

var timesClicked = 0;

function btnClick(){
	timesClicked ++;

	document.getElementById("timesClicked").innerHTML = timesClicked;
	return true
}
</script>
</body>
</html>
