{% load static %}
{% load index %}
<!DOCTYPE html>
<html>
<head>
	<title>motori</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
	<meta charset ="utf-8">
	<link rel="stylesheet" href="../static_files/css/shop.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
	<div class="all ">
		<div class="ym">

			<img src="{% static 'img/shop_foroshgah.png' %}" class="responsive foroshgah">
			<img src="{% static 'img/shop_motor.png' %}" class="responsive motor">
		</div>
		<div class="header3">
			<div class="search1"><input type="text1" placeholder ="جست و جو در فروشگاه" class="search1" id="search1"></div>
		</div>

		<img src="{% static 'img/shop_motori-bg.jpg' %}" class="responsive motori-bg">


		<div class="header4"><div class="text6">پرفروش ها</div>
		<div class="slideshow-container">

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<span class="items1">
					<img src="{% static 'img/shop_1.jpg' %}" class="item9 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_2.jpg' %}" class="item10 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_3.jpg' %}" class="item11 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_4.jpg' %}" class="item12 responsive" style="width:23.44%">

				</span>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<span class="items2">
					<img src="{% static 'img/shop_5.jpg' %}" class="item5 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_6.jpg' %}" class="item6 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_7.jpg' %}" class="item7 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_8.jpg' %}" class="item8 responsive" style="width:25%">
				</span>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<span class="items3">
					<img src="{% static 'img/shop_9.jpg' %}" class="item1 responsive" style="width:23.44% ">
					<img src="{% static 'img/shop_6.jpg' %}" class="item2 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_7.jpg' %}" class="item3 responsive" style="width:23.44%">
					<img src="{% static 'img/shop_8.jpg' %}" class="item4 responsive" style="width:25%" >
				</span>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
		<br>

	</div>

	<div class="content">
		<div class="common2"></div>
		<div class="kind1 common2">نوع موتور</div>
		<img src="{% static 'img/shop_motor-logo.png' %}" class="responsive motor-logo">
		<div class="box1"></div>
		<div class="checkbox">
			<label class="container"><div class="checkbox1">موتوری</div>
				<input type="radio" checked="checked" name="radio">
				<span class="checkmark"></span>
			</label>
			<label class="container"><div class="checkbox2">ظاهری</div>
				<input type="radio" name="radio">
				<span class="checkmark" style="margin-top:16vw"></span>
			</label>
		</div>
		<div class="box2"></div>
		<div class="brand common2">برند</div>
		<div class="box3"></div>
		<div class="range common2">محدوده قیمت</div>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
			<p class="value">مقدار: <span id="demo"></span></p>
		</div>
		<div class="box4"></div>
		<div class="lavazemjanebi common2">لوازم جانبی</div>
		<div class="box5"></div>
		<div class="dastebandi common2"> انواع دسته بندی</div>
	</div>
	<span class="img" style="display:none"></span>
	<i class="imgg"></i>

<div class="problem">
{% for good in goods_list %}

	<span class="img1 common1">
		<div class="star-rating4 responsive">
			<input id="star-5III" type="radio" name="rating" value="star-5">
			<label for="star-5III" title="5 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-4III" type="radio" name="rating" value="star-4">
			<label for="star-4III" title="4 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-3III" type="radio" name="rating" value="star-3">
			<label for="star-3III" title="3 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-2III" type="radio" name="rating" value="star-2">
			<label for="star-2III" title="2 stars">
				<i class="active fa fa-star star1"></i>
			</label>
			<input id="star-1III" type="radio" name="rating" value="star-1">
			<label for="star-1III">
				<i class="active fa fa-star star1"></i>
			</label>
		</div>
		<i class="fas fa-cart-plus imgg4 imgg" onclick="btnClick()"></i>
		<div class="imgtext5">{{ good.Title }}</div>
		<div class="imgtext6">
			امتیاز <br>قیمت
		</div>
		<div class="price4">{{ good.Price }}</div>
		<img src="{{ first_image|index:forloop.counter0 }}" class="image4">
	</span>

{% endfor %}
</div>
	<div class="footer">
		<img src="{% static 'img/shop_footer-bg.png' %}" class="responsive footer-bg">
		<img src="{% static 'img/shop_Artboard 1.png' %}" alt="Drmotori logo motor mechanics مکانیک موتور دکترموتوری تعمیر موتور " class="Drmotori-logo">
		<div class="footer-text">
			صفحه نخست
			<br>
			تعمیر موتور
			<br>
			سرویس ها
			<br>
			فروشگاه ها
			<br>
			مجله موتور
			<br>
			تماس با ما
			<br>
			درباره ما
		</div>
		<div class="footer-text2 footer-text">
			نحوه ثبت سفارش      <br>
			تعمیرکاران<br>
			تعرفه ها

		</div>
	</div>
	<div class="header ">
		<button id="myBtn" class="loginap">نام/login</button>
		<img src="{% static 'img/shop_Artboard 1_footer.png' %}" alt="motori موتوری repair تعمیرات" class="motori-logo2">
		<div class="header2 ">

			<i class="fas fa-shopping-cart cart"></i>
			<img src="{% static 'img/shop_polygon.png' %}" class="responsive polygon">
		</div>
		<i class="fas fa-filter filter1" onclick="filter2()" id="filter"></i>
		<button id="myBtn20" class="loginap20">
				<i class="fas fa-bars icon20"></i>
			</button>
		<div  id="filter1-containerr">
		<div class="filter1-opacity"></div>
		<div class="close4" onclick="filtr1()">&#x2715;
			</div>
		<div class="filter1-container">
				<i class="fas fa-filter filter1 filter1II"></i>
			<div class="filter1-logo"></div>
			<div class="filter1-header"><i class="fas fa-filter filter1-popup"></i>
			</div>
			<div class="filter-header-logo">فیلترها</div>
			<div class="right-part"></div>
			<div class="right-part-text">
			<div class="right-part-text1">نوع موتور</div><br>
			<div class="right-part-text2">برند</div><br>
		<div class="right-part-text3">محدوده قیمت</div> <br>
		<div class="right-part-text4">نوع قطعه</div><br>
		<div class="right-part-text5">لوازم جانبی</div><br>
		<div class="right-part-text6">کلاه کاسکت</div>
			</div>
<label class="check1 check">cg-125
		<input type="checkbox" checked="checked">
		<span class="checkmark2"></span>
	  </label>
	  <label class="check2 check">هوندا-200
		<input type="checkbox">
		<span class="checkmark2"></span>
	  </label>
	  <label class="check3 check">ویو
		<input type="checkbox">
		<span class="checkmark2"></span>
	  </label>
	  <label class="check4 check">آپاچی
		<input type="checkbox">
		<span class="checkmark2"></span>
	  </label>
	  <label class="check5 check">باکستر
			<input type="checkbox">
			<span class="checkmark2"></span>
		  </label>
		  <label class="check6 check">cgl
				<input type="checkbox">
				<span class="checkmark2"></span>
			  </label>
		</div>
	</div>
	</div>

	<center><span id="timesClicked" class="num">0</span></center>
	<!-- Trigger/Open The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="number"></div>
			<input type="text5" class="text5" style="display:none">
			<span class="close">&times;</span>

			<div class="loginap-left">
				<form method="post"> {% csrf_token %}
					{{ login_form }}
					<div class ="number number1">شماره همراه</div>
					<!-- <input type="text5" name="phone_number" class="login text5"> -->
					<div class="number number2">رمز عبور</div>
					<!-- <input type="password" name="password" class="password text5"> -->
					<a href="" class="common2"></a>
					<button class="vorod common2" type="submit">ورود</button>
					<!-- <a href="" class="vorod common2">ورود</a> -->
					<a href="" class="faramosh ">رمز عبور خود را فراموش کرده ام</a>
				</form>
			</div>
			<div class="modal-content2">
				<form method="post"> {% csrf_token %}
					{{ signup_form }}
			<div class="all-filter">
				<label for="label1">
					<div class="number number3">نام خانوادگی</div>
				</label>
				<label for="lebel2">
					<div class="number4 number">شماره همراه</div>
				</label>
				<label for="label3">
					<div class="number5 number">رمز عبور</div>
				</label>
					<label for="label4">
							<div class="number6 number">نام</div>
					</label>
					<button type="submit" class="register common2">ثبت نام</button>
				</div>
				</form>
			</div>

		</div>
	</div>
		<!-- The Modal -->
		<div id="myModal20" class="modal20">

			<!-- Modal content -->
			<div class="modal-content4">
				<div class="filters2-bg1"></div>
				<div class="filters2-motori">MOTORI</div>
				<div class="filters2-yourmechanics">Your mechanics</div>
				<span class="close2">&times;</span>
				<button onclick="myFunction()" class="filters2-box1"><div class="filters2-text2">نام</div>

					<div class="filters2-text1">کاربری</div>
				</button>
				<div class="filters2-bg3"></div>
				<div id="myDIV">
					<div class="filters2-text3">شماره همراه</div>
					<input type="text10" class="filters2-text3-box1">

					<div class="filters2-text4">رمز عبور</div>
					<input type="password" class="filters2-text4-box2">

					<a  class="filters2-text5-box3" href="" ><div class="text12">ورود
					</div></a>

					<div class="filters2-text6">شماره همراه</div>
					<input type="text12" class="filters2-text6-box4">

					<div class="filters2-text7">شماره پلاک</div>
					<input type="text13" class="filters2-text7-box5">

					<div class="filters2-text8">نام و نام خانوادگی</div>
					<input type="text14" class="filters2-text8-box6">
					<a href="" class="text15">رمز عبور خود را فراموش کرده ام</a>
					<div class="filters2-text9-box7"></div>
					<a class="text16" href="">ثبت نام</a>
				</div>
				<button class="filter2-box2"><div class="text17">تعمیر</div>
					<div class="text21">اورژانسی</div>

					<button class="filter2-box3">
						<div class="text18">صفحه نخست</div>
					</button>
					<button class="filter2-box4">
						<div class="text19">صفحه من</div>
					</button>
					<button class="filter2-box5">
						<div class="text20">مجله موتور</div>
					</button>

				</div>

			</div>
				<script>
					var myfilter3 = document.getElementById("filter1-containerr");
					function filter2()
					{
					myfilter3.style.display="unset";
					}
				</script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
	showSlides(slideIndex += n);
}

function currentSlide(n) {
	showSlides(slideIndex = n);
}

function showSlides(n) {
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("dot");
	if (n > slides.length) {slideIndex = 1}
	if (n < 1) {slideIndex = slides.length}
	for (i = 0; i < slides.length; i++) {
		slides[i].style.display = "none";
	}
	for (i = 0; i < dots.length; i++) {
		dots[i].className = dots[i].className.replace(" active", "");
	}
	slides[slideIndex-1].style.display = "block";
	dots[slideIndex-1].className += " active";
}
</script>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
	output.innerHTML = this.value;
}
</script>
<script>
var btn1 = document.getElementById("myBtn1");
btn1.onclick=function()
{
	if (modal1.style.display === "none") {
		modal1.style.display = "block";
	} else {
		modal1.style.display = "none";
	}
}
var modal1 = document.getElementById('myModal1');
// Get the modal
var modal = document.getElementById('myModal2');

// Get the button that opens the modal
var btn = document.getElementById("myBtn7");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>
<script>
function myFunction() {
	var x = document.getElementById("myDIV");
	if (x.style.display === "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
}
</script>
<script>
// Get the modal
var modal21 = document.getElementById('myModal20');

// Get the button that opens the modal
var btn21 = document.getElementById("myBtn20");

// Get the <span> element that closes the modal
var span21 = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal
btn21.onclick = function() {
	modal21.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span21.onclick = function() {
	modal21.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal21) {
		modal21.style.display = "none";
	}
}
</script>
<script>

var timesClicked = 0;

function btnClick(){
	timesClicked ++;

	document.getElementById("timesClicked").innerHTML = timesClicked;
	return true
}
</script>
<script>
var myfilter1 = document.getElementById("filter1-containerr")
function filtr1()
{
myfilter1.style.display= "none";
}
</script>
</body>
</html>
