body
{
    line-height: 201%;
    font-family: IRANSansWeb_Light;
    background-color: #f6ca51;
    overflow-x: hidden;
    margin: 0 auto;
}
@font-face
{
  font-family:IRANSansWeb_Light;
  src:url('./IRANSansWeb_Light.Woff') format('woff');  
}
@font-face
{
  font-family:BBardiya;
  src:url('./BBardiya.Woff') format('woff');  
}
@font-face
{
  font-family:BMitra;
  src:url('./BMitra.Woff') format('woff');  
}
div.header > nav.nav-content > div > ul > li
{
  display: inline-block;
  background-color: #1a2930;
  padding: 7px 3px 3px 0px;
  margin-top: -9px;
  width: 148px;
  -webkit-transition: background 1s;
  text-align: center;
  margin-left: -10px;
  color: #f7ce3e;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
div.header > nav.nav-content > div > ul > li:hover
{
		color: #1a2930;
	background: #f7ce3e;
  transition: all 0.5s linear ;
}
div.header > nav.nav-content > div > ul > li:hover::after
{
	color: #f7ce3e;
	background-color: #f2f2f2;
  transition: all linear 0.5s;
}
div.header > nav.nav-content > div > ul > li::after
{
	content: '';
	display: block;
	width: 0px;
	height:4.1px;
	background: #f7ce3e;
  transition: width .7s;
  margin-left: 0px;

}
div.header > nav.nav-content > div > ul > li:hover::after
{
width: 145.5px;
}
div.header > nav.nav-content > div > ul > li.a2:hover::after
{
width: 150.5px;
}
.nav-content
{
  background-color: #1a2930;
  margin-left: -70px;
  margin-top: -16px;
  height: 44px;
  width: 100%;
  padding-left: 69px;
}
li.a1
{
  height: 35px;
}
ul.unorder-list
{
  text-align: right;
  margin-top: -46px;
}
a
{
  text-decoration: none;
}
ul
{
  list-style: none;
  padding: 0;
}
.mySlides
{
  display: none;
}
img.logo1
{
  width: 156px;
  margin-top: 4px;
  margin-left: 29px;
}
.line
{
  width: 30%;
  height: 8px;
  background-color: #bbbbbb;
  display: inline-block;
  border-radius: 20px;
  text-align: right;
  margin-top: 56px;
}
.line3
{
  text-align: right;
  margin-top: 55px;
  width: 30%;
  height: 10.3px;
  display: inline-block;
}
.circle
{
  display: inline;
  background: #bbbbbb;
  padding: 0px 20px 0px 1px;
  border-radius: 50%;
  margin-top: -5.1px;
  position: absolute;
  margin-left: -10px;
  height: 22px;
}
.lineCircle{
    margin: 0 11% 0 -9%;
}
.lineCircle-content
{
  margin-top: 30px;
  position: absolute;
  margin-left: -17px;
}
.circle1
{
  background: #717171;
  margin-top: -7px;
}
.circle3
{
  width: 1px;
  height: 23px;
  background: linear-gradient( -90deg, #bbbbbb, #bbbbbb 49%, #bbbbbb 49%, #bbbbbb 51%, #bbbbbb 51% );
  border-radius: 50%;
  margin-top: -7.5px;
}
.title1
{
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 71px;
  margin-left: 2.5%;
  margin-right: 5%;
}
.line2
{

  height: 44px;
  background-color: white;
  border-radius: 8px;
  margin-top: 75px;
  width: 88%;
  display: inline-block;
  margin-left: 2%;
}
.all-line2
{
  margin-top: -88px;
  margin-left: 5vw;
}
.category1
{
    
  display: flex;
  justify-content: space-evenly;
  margin-left: -1px;
  margin-right: -18px;
  padding-top: 7px;
}
.circle2
{
  
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  margin-top: -26px;
  right: 4%;
}
.image1
{
  
  width: 63%;
  margin-top: 20%;
  margin-left: 19%;
  border-radius: 0.7vw;
}
.quantity
{
  
  text-align: right;
  background-color: #a9a9a94f;
  border: 0.1vw solid darkgray;
  height: 26px;
  width: 68px;
  font-size: 20px;
  margin-top: 1.5px;
  padding-right: 6px;
  color: black;
  cursor: pointer;
  font-family: BMitra;
}
.triangle
{
  width: 0;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #555;
  cursor: pointer;
  position: absolute;
  margin-left: 0.5%;
  z-index: 0;
  margin-top: -29px;
}
.all-items
{

  text-align: center;
  margin-top: -7.9%;
}
.item1
{
  z-index: 1;
  background-color: #bfbfbf;
  border-bottom: 0.1vw solid white;
  cursor: pointer;
  font-family: BMitra;
  font-size: 22px;
}
.circle4
{

  border: 0.4vw solid;
  font-size: 85px;
  cursor: pointer;
  width: 90px;
  height: 90px;
}
.plus
{

  margin-top: 36px;
  position: absolute;
  margin-left: 20px;
}
.all-add
{

  margin-top: 5px;
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  margin-left: 26%;
}
.addtocart
{

}
.shop
{
  
  background: #1a2930;
  padding-right: 46px;
  padding-left: 46px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.common2
{
  
  display: flex;
  justify-content: space-between;
  width: 64%;
  margin-top: 5px;
  margin-left: 18%;
}
.footer-img
{
  width: 100%;
  height: 325px;
  position: absolute;
}
.footer-img1
{
  
  bottom: 0;
}
.all-triangle2
{
  
  right: 45%;
  position: absolute;
}
.all-triangle1
{

  left: 31%;
}
.all-triangle
{
  
  position: relative;
}
.triangle2
{

  cursor: pointer;
  position: absolute;
  padding: 11px;
  background-color: #1a2930;
  width: 128px;
  text-align: center;
  color: white;
  border-radius: 4px;
  bottom: 135px;
}
.triangle2
{
}
.triangle-shape2
{

  width: 0;
  height: 0px;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-top: 40px solid #f2f2f2;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  transform: rotate(-90deg);
  bottom: 142px;
  left: 144px;
  border-radius: 2px;
}
.triangle-shape1
{
  left: -45px;
  transform: rotate(90deg);
}
.common3
{
  
  position: relative;
  margin-top: 325px;
}
.lineII
{
  
  height: 44px;
  background-color: white;
  border-radius: 8px;
  margin-top: 43px;
  width: 88%;
  display: inline-block;
  margin-left: 6vw;
  text-align: right;
  position: relative;
}
.lineII-content
{
  
  top: 6px;
  position: relative;
}
.new-address
{
  
  width: 100%;
  border-radius: 5px;
  direction: rtl;
  height: 40px;
  font-size: 17px;
}
.lineII2
{

  height: 241px;
}
.time
{
  
  display: flex;
  justify-content: space-around;
  background-color: #cccccc;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border-bottom: 1px solid white;
  padding-top: 6px;
}
.time-topic
{
  
  margin-right: 24px;
  font-size: large;
}
.radio2
{
  width: 33px;
  margin-top: 9px;
}
.radio3
{
  
  width: 61px;
}
.lineIII
{

  width: 88%;
  height: 267px;
  background-color: white;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 8px;
  text-align: right;
  position: relative;
  overflow: auto;
}
.total1
{

  width: 59%;
  margin-left: 36%;
  background-color: #cccccc;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.all-total
{
  
  padding-top: 5px;
}
.total2
{

}
.cashier
{
  
  position: absolute;
  left: 10%;
  top: 26%;
}
.pay
{
  
  left: 11%;
  background-color: #1a2930;
  padding: 8px 22px;
  color: white;
  position: absolute;
  top: 48%;
  cursor: pointer;
}
.lineIII2
{
  
  height: 160px;
  overflow: hidden;
}
.finale{
  position: absolute;

top: 28px;

width: 335px;

right: 17px;
}
.footer-img3
{
  
  width: 231px;
  left: 5%;
  position: absolute;
  top: -24px;
}
.common4
{
  
  bottom: -237px;
  margin-top: 0;
}
.clickable
{
  left: 32px;

position: relative;
}
@media only screen and (max-width:790px)
{
  .cashier
  {
    
  font-size: 14px;
  }
  .cashier-container
  {

  padding: 97px 53px;
  width: 12%;
  margin-top: -304px;
  margin-left: 3vw;
  position: relative;
  }
  .pay
  {
    
  padding: 5px 17px;
  font-size: 15px;
  left: 13%;
  }
  .common3{
    
  }
  img.logo1
  {
    margin-left: 38%;
  }
  .unorder-list
  {
    display: none;
  }
  .clickable
  {
bottom: 4px;
    width: 91px;
    margin-top: 5px;
    margin-left: 19%;
    position: absolute;
  }
  .all-items
  {
    margin-top: -7.5px;
    position: absolute;
  }
  .item1
  {

  width: 68px;
  }
  .title1
  {
    display: none;
  }
  .all-line2
  {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .footer-img2
  {
    height: 324px !important;
  }
  div.header > nav.nav-content > div > ul > li
  {
    font-size: 15px;
    width: 114px;
  }
  div.header > nav.nav-content > div > ul > li::after
  {
    height: 3.1px;
  }
  .footer-img
  {
    height: 267px;
  }
  .category1
  {
    font-size: 14px;
    margin-left: 55px;
margin-right: 19px;
  }
  .all-add
  {
    padding-right: 31px;
  }
}
@media only screen and (max-width:692px)
{
  .category1
  {margin-left: 57px;
    font-size: 13px;
    margin-right: 19px;
  }
  .triangle2
  {
    padding: 6px;font-size: 14px;
  }
  .triangle-shape2
  {
    border-left: 22px solid transparent;
border-right: 22px solid transparent;
bottom: 144px;
    border-top: 24px solid #f2f2f2;
    left: 131px;
  }
  .triangle-shape1
  {
    left: -34px !important;
  }
}
@media only screen and (max-width:692px)
{
  .footer-img2
  {
    
  height: 224px !important;
  margin-top: 91px;
  }
  img.logo1
  {
    
  margin-left: 36%;
  }
  .footer-img
  {
    
  height: 210px;
  }
  .clickable
  {
    
  margin-left: 8%;
  }
  .all-triangle1
  {
    left: 14%; 
  }
  .all-triangle2
  {
    right: 32%;
    top: 48px;
  }
  .all-line5,.title1
  {
    display: none;
  }
}
.all-line3
{
  
  background-color: white;
  position: relative;
  font-size: 14px;
  box-shadow: 0px 0px 6px 3px rgba(140,140,140,0.43);
  margin-left: 22vw;
  width: 57%;
  height: 105px;
}
@media only screen and (min-width:790px)
{
  .all-line3
  {
    display: none;
  }
}
.mobile-img1
{
  
  width: 94px;
  top: 10px;
  position: absolute;
  height: 83px;
  right: 13px;
}
.goods
{
  width: 91px;
margin-top: 5px;
  right: 49%;
  position: absolute;
}
.goods-container
{

  width: 135px;
  margin-top: 36px;
}
.price-container
{
  
  width: 146px;
  justify-content: space-between;
  display: flex;
  margin-top: 35px;
  position: absolute;
  right: 44%;
}
.quantity-mobile
{
  
  bottom: -93px;
  position: absolute;
  background-color: #ededed;
  border: 0.5px solid #c5c5c5;
  width: 69px;
  direction: rtl;
  right: 12%;
}
.triangle-mobile
{
  width: 0;
height: 0px;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-top: 18px solid #555;
cursor: pointer;
position: absolute;
z-index: 0;
margin-top: 75px;
  right: 55px;
}
.quantity-text
{
  
  position: absolute;
  bottom: 5px;
  right: 44%;
}
.text-mobile-container
{

}
.quantity-mobile-container
{
  
  left: 38%;
  position: absolute;
}
@media only screen and (max-width:462px)
{
  .cashier-container
  {

  }
  .cashier
  {

  font-size: 13px;
  }
  .pay
  {

  font-size: 13px;
  }
  img.logo1
  {
    
  margin-left: 31%;
  }
  .footer-img
  {

  height: 183px;
  }
  .clickable
  {
    
  margin-left: 10%;
  }
  .all-triangle2
  {
    margin-right: -2vw;
  }
  .all-triangle1 {

    margin-left: 0vw;

}
  .all-line3
  {
    margin-left: 6vw;
width: 89%;
  }
  .triangle2
  {
    padding: 4px;
    width: 103px;
font-size: 14px;
  }
  .triangle-shape2
  {
    border-left: 19px solid transparent;

border-right: 20px solid transparent;
left: 104px;
  
}
.triangle-shape1
{
  left: -31px !important;
}
}
@media only screen and (max-width:426px)
{
  .finale
  {
    
  font-size: 13px !important;
  width: 113px !important;
  }
  .cashier
  {

  width: 103px;
  }
  .cashier-container
  {

  margin-left: 1% !important;
  }
  .total1
  {

  font-size: 13px !important;
  width: 38% !important;
  margin-left: 58% !important;
  }
  img.logo1
  {
    
  margin-left: 28%;
  }
  .all-triangle1 {

    margin-left: 25vw;
    margin-top: -24px !important;

}
.all-triangle2 {

  margin-right: 29vw;
  margin-top: 64px;

}
}
@media only screen and (max-width:300px)
{
  .mobile-img1
  {
    width: 80px;
top: 16px;
height: 72px;
  }
  .all-line3
  {
    font-size: 13.5px;
  }
  .goods
  {
    right: 46%;
  }
  .price-container
  {
    right: 38%;
  }
  .quantity-text
  {
    right: 39%;
  }
  .all-triangle1 {

    margin-left: 17vw;
    margin-top: -24px !important;

}
.all-triangle2 {

  margin-right: 28vw;
  margin-top: 64px;

}
img.logo1
{
  
margin-left: 21%;
}
}
@media only screen and (max-width:609px)
{
  .radio3 {
width: 0px;
  }
  .lineII4
  {
    display: none;
  }
  .change1
  {
    direction: rtl;
    left: 20vw;
  }
}
@media only screen and (min-width:610px)
{
  .lineII3
  {
    display: none;
  }
}
@media only screen and (max-width:456px)
{
.time
{
  font-size: 14px;
}
.finale
{
  
  width: 186px;
  top: 0;
}
}
@media only screen and (max-width:500px)
{
  .time {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width:572px)
{
  .finale
  {

  font-size: 14px;
  }
  .footer-img3
  {

  left: -7%;
  width: 202px;
  top: -9px;
  }
  .total1{
    
  width: 43%;
  margin-left: 50%;
  font-size: 15px;
  }
  .cashier-container
  {
    
  margin-left: 3%;
  }
}